@import 'color';
@import 'função';
@import 'fontTamanho';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins"
}

body{
    @include flexBody(center);
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: $colorFundo;
}

header {
    height: 12%;
    width: 100%;
    @include flexCenter(space-between);

    div{
        &.logo{
            height: 100%;
            width: 15%;
            @include flexCenter(center);
            
            h1{
                font-size: $tamanhoGrande;
                font-family:"Satisfy", cursive;
            }
        }

    }

    div{
        &.menu_bar{
            height: 100%;
            width: 30%;

            @include flexCenter(center);
            nav{
                ul{
                    display: flex;
                    list-style: none;

                    li{
                        margin-right: 40px;
                        font-size: $tamanhoMedio;
                        position: relative;
                        transition: 0.5s ease;
                        &::before{
                            content: " ";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 0;
                            height: 2px;
                            transition: all 0.3s;
                            background-color:  #000;
                            z-index: 1;
                            transform: translateX(-100%);

                           
                        }
                        &:hover{       
                            &::before{
                                transform: translateX(0);
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

section {
    width: 100%;
    @include flexCenter(space-between);
    padding: 4rem;
    margin-bottom: 30px;
    div{

        &.fotoPerfil{
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            img{
                height: 400px;
                width: 70%;
                border-radius: 100%;
                margin-bottom: 60px;
                
            }
        }
    }

    div{
        &.icons{
            display: flex;
            flex-direction: row;
            img{

                &.icon{
                    border-radius: 0;
                    margin-right: 50px;
                    height: 32px;
                    width: 32px;
                }
            } 
        }
    }

    div{
        &.textPerfil{
            height: 80%;
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 800px;
            margin-right:150px ;
            min-width: 300px;
            div{
                &.titulo{
                    height: 80px;
                    font-size: 1.9rem;
                    font-family: "Poppins";
                }
            }
            p{
                font-size: 1.2rem;
                font-family: "Poppins", sans-serif;  
            }
        }
    }
}

main{
    height: 100vh;
    width: 100%;
    background-color: $colorElement1;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        &.skills{
            div{
                
                &.titulo{
                    height: 100px;
                    margin-bottom: 40px;
                    h1{
                        text-align: center;
                        margin-top: 20px;
                        font-size: 4rem;
                    }
                }

            }
        }
    }
    div{
        &.boxSkills{
            width: 1000px;
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            div{
                &.skill{
                    height: 90px;
                    width: 400px;
                    margin-right: 40px;
                    border: 2px solid;
                    border-radius: 10px;
                    margin-bottom: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    transform: translateX(0);
                    transition: 0.3s;
                    div{
                        &.geral{
                            height: 100%;
                            width: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img{
                                height: 60px;
                            }
                        }
                    }
                    div{

                        &.text{
                            height: 100%;
                            width: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            p{
                                font-size: 1.5rem;
                                font-family: Verdana, Geneva, Tahoma, sans-serif;
                            }
                        }
                    }
                    
                }
                &.skill:hover{
                    background-color: $colorElement2;
                    transform: translateX(20px);
                    transition: 0.3s;
                    color: #FFF;
                }
            }
        }
    }
}


@media (max-width:1000px) {
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        div{
            &.fotoPerfil{
                img{
                    width: 350px;
                }
            }
        }

        div{
            &.textPerfil{
                width: 400px;
                margin: 0;

                div{
                    &.titulo{
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    main{
        width: 100%;
        padding: 50px;
        div{
            &.skills{
                display: flex;
                justify-content: center;
                flex-direction: column;
                div{
                    &.boxSkills{
                        width: 700px;
                        div{
                            &.skill{
                                width: 260px;
                            }
                        }
                    }
                }
                
            }
        }
    }
}